# Flask Configuration
SECRET_KEY=your-secret-key-change-in-production
JWT_SECRET_KEY=jwt-secret-string-change-in-production

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/ecommerce_db

# Optional: For production
# MONGODB_URI=mongodb+srv://harinilnximbg:<db_password>@bazaar.f41vwiv.mongodb.net/
